{{> head}}
{{> nav}}

<!-- Main content area with centering -->
<main class="flex-grow-1">
    <div class="main-content">
        {{{body}}} <!-- Injected content -->
    </div>
</main>

{{> footer}}