body {
    background-color: #f1f7ed;
    color: #363020;
  }

form {
    background-color: #f1f7ed;
    color: #363020;
    border: 4px solid #d19c1d;
    padding: 20px;
}

nav {
    background-color: #d19c1d;
    color: #363020;
}

footer {
    background-color: #d98324;
    color: #363020;
}

.hidden {
    visibility: hidden;
    height: 0;
  }

.btn-primary {
    --bs-btn-bg: #d19c1d;
    --bs-btn-color: #363020;
    --bs-btn-border-color: #d19c1d;
    --bs-btn-hover-bg: #d98324;
    --bs-btn-hover-border-color: #d98324;
}

.bg-primary {
    background-color: #d19c1d;
    color: #363020;
}

.bg-secondary {
    background-color: #d98324;
    color: #363020;
}

.bg-dark {
    background-color: #363020;
    color: #f1f7ed;
}

.bg-light {
    background-color: #f1f7ed;
    color: #363020;
}

.bg-shade {
    background-color: #605c4e;
    color: #f1f7ed;
}

.text-primary {
    color: #d19c1d;
}

.text-secondary {
    color: #d98324;
}

.text-dark {
    color: #363020;
}

.text-light {
    color: #f1f7ed;
}

.text-shade {
    color: #605c4e;
}