<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<form action = "/login" method="POST">
	<h1 style="font-size:200%">Login</h1>
	<label for="username">Username</label><br>	
	<input id="username" name="username" type="text" pattern=".+"></input><br>
	<label for="password">Password</label><br>                                                                                      
	 <input id="password" name="password" type="password"></input><br>
	<button type="submit" class="btn btn-primary">Login</button>
	<p>Don't have an account?<a href="/register">Register</a></p>
</form>
</body>
