
<form action = "/register" method="POST">
	<h1 style="font-size:200%">Register</h1>
	<label for="username">Username</label><br>	
	<input id="username" name="username" type="text" pattern=".+"></input><br>
	<label for="password">Password</label><br>     
        <input id="password" name="password" type="password"></input><br>
	<input type ="checkbox" onclick="togglePasswordVisibility()">Show Password<br>
	<button type="submit" class="btn btn-primary">Register</button>
	<p>Already Have an account?<a href="/login">Login</a></p>
</form>

